<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examify Start Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>


    <div class ="startup-heading">
        <h1>
            EXAMIFY <i>Let's Start</i> 
        </h1>
    </div>


    <div class="startup-content">
        <h2>Welcome To Examify</h2>
    
        <div class="user-btns">
            <div class="new-user-btn">
                <h4>Sign Up</h4>
                <button class="new-user-button">Sign Up</button>
            </div>
    
            <div class="old-user-btn">
                <h4>Login</h4>
                <button class="old-user-button">Login</button>
            </div>
        </div>
    </div>

    

</body>
</html>