<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examify Start Up</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}?v=3">
</head>
<body>
  <header class="startup-heading">
    <h1>EXAMIFY Let's Start</h1>
  </header>

  <main class="startup-content">
    <h2>Welcome to Examify</h2>
    <div class="user-btns">
      <div class="user-btn">
        <h4>Sign Up</h4>
        <button class="action-button" onclick="window.location.href='{% url 'user_signup' %}'">
          Sign Up
        </button>
      </div>
      <div class="user-btn">
        <h4>Login</h4>
        <button class="action-button" onclick="window.location.href='{% url 'user_login' %}'">
          Login
        </button>
      </div>
    </div>
  </main>
</body>
</html>
